.main_header {
  background-color: #181616;
  width: 100%;
  padding: 10px 0; }
  .main_header .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px; }
  .main_header .logo_container a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900; }
  .main_header .logo_container span {
    color: #c0392b; }
  .main_header .navbar {
    display: flex;
    align-items: center; }
    .main_header .navbar a {
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 700; }
    .main_header .navbar div {
      padding-right: 20px; }
    .main_header .navbar form input {
      padding: 5px;
      border-radius: 20px;
      outline: none;
      border: 1px solid #c0392b;
      color: #c0392b; }

@media (max-width: 990px) {
  .navbar a {
    display: none; } }

.main_section_background {
  background-image: url(../assets/img/black-banner.png);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .main_section_background .container_text {
    transition: 0.5s ease-in-out;
    color: #ffffff;
    width: 40%;
    padding: 60px 40px 0px 40px; }
    .main_section_background .container_text h1 {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 900; }
    .main_section_background .container_text .movie-descriptions {
      font-size: 0.8rem;
      align-items: center;
      padding-top: 30px; }
      .main_section_background .container_text .movie-descriptions i {
        margin-right: 3px;
        color: red; }
      .main_section_background .container_text .movie-descriptions span {
        margin-right: 8px; }
    .main_section_background .container_text p {
      padding: 30px 60px 30px 0px;
      font-size: 1.15rem;
      line-height: 1.5rem; }
    .main_section_background .container_text .btn {
      margin-top: 40px;
      display: inline-flex;
      position: relative;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      border: none;
      background-color: #221f1f; }
      .main_section_background .container_text .btn span {
        z-index: 1; }
      .main_section_background .container_text .btn::before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #c0392b;
        transition: width 0.3s ease 0s; }
      .main_section_background .container_text .btn:hover::before {
        width: 100%; }

@media (max-width: 1100px) {
  .main_section_background .container_text {
    width: 60%; }
    .main_section_background .container_text h1 {
      font-size: 3rem;
      line-height: 5rem;
      font-weight: 900; }
    .main_section_background .container_text p {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem; } }

.movies_main_section {
  background-color: #181616; }
  .movies_main_section .movies_container .movie_card {
    position: relative;
    overflow: hidden; }
    .movies_main_section .movies_container .movie_card .img {
      width: 100%;
      height: 100%; }
    .movies_main_section .movies_container .movie_card .info_movie {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8) !important; }
      .movies_main_section .movies_container .movie_card .info_movie i {
        margin-right: 3px;
        color: red; }
      .movies_main_section .movies_container .movie_card .info_movie h2 {
        padding-bottom: 20px; }
      .movies_main_section .movies_container .movie_card .info_movie span {
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0 8px; }
  .movies_main_section .movies_container img:hover {
    transform: scale(1.2); }

.movies_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 0 40px 0; }

@media only screen and (max-width: 1400px) {
  .movies_container {
    grid-template-columns: repeat(2, 1fr); }
    .movies_container .img_card {
      width: 100%; } }

@media only screen and (max-width: 1055px) {
  .movies_container {
    grid-template-columns: repeat(1, 1fr); }
    .movies_container .movie_card {
      justify-content: center;
      display: flex;
      text-align: center; }
    .movies_container .img_card {
      width: 50%; } }

.latest_movies_main_section {
  background-color: #181616; }
  .latest_movies_main_section main_container {
    padding: 40px 40px 40px 40px; }
  .latest_movies_main_section .latest_movies_container .movie_card {
    position: relative;
    overflow: hidden; }
    .latest_movies_main_section .latest_movies_container .movie_card img {
      width: 100%; }
    .latest_movies_main_section .latest_movies_container .movie_card .info_movie {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8); }
      .latest_movies_main_section .latest_movies_container .movie_card .info_movie i {
        margin-right: 3px;
        color: red; }
      .latest_movies_main_section .latest_movies_container .movie_card .info_movie h2 {
        padding-bottom: 20px; }
      .latest_movies_main_section .latest_movies_container .movie_card .info_movie span {
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0 8px; }
  .latest_movies_main_section .latest_movies_container img:hover {
    transform: scale(1.2); }
  .latest_movies_main_section h1 {
    padding: 20px 20px 20px 20px;
    margin-left: 40px;
    border-left: 4px solid #c0392b;
    font-size: 1.5rem;
    font-weight: 700; }

.latest_movies_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  padding: 40px 40px 40px 40px; }

@media only screen and (max-width: 1400px) {
  .latest_movies_container {
    grid-template-columns: repeat(2, 1fr); }
    .latest_movies_container .img_card {
      width: 100%; } }

@media only screen and (max-width: 1055px) {
  .latest_movies_container {
    grid-template-columns: repeat(1, 1fr); }
    .latest_movies_container .movie_card {
      justify-content: center;
      display: flex;
      text-align: center; }
    .latest_movies_container .img_card {
      width: 50%; } }

.latest_series_main_section {
  background-color: #181616; }
  .latest_series_main_section .main_container_series {
    padding: 40px 40px 40px 40px; }
  .latest_series_main_section .latest_series_container .movie_card {
    position: relative;
    overflow: hidden; }
    .latest_series_main_section .latest_series_container .movie_card img {
      width: 100%; }
    .latest_series_main_section .latest_series_container .movie_card .info_movie {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8); }
      .latest_series_main_section .latest_series_container .movie_card .info_movie i {
        margin-right: 3px;
        color: red; }
      .latest_series_main_section .latest_series_container .movie_card .info_movie h2 {
        padding-bottom: 20px; }
      .latest_series_main_section .latest_series_container .movie_card .info_movie span {
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0 8px; }
  .latest_series_main_section .latest_series_container img:hover {
    transform: scale(1.2); }
  .latest_series_main_section h1 {
    padding: 20px 20px 20px 20px;
    margin-left: 40px;
    border-left: 4px solid #c0392b;
    font-size: 1.5rem;
    font-weight: 700; }

.latest_series_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  padding: 40px 40px 40px 40px; }

@media only screen and (max-width: 1400px) {
  .latest_series_container {
    grid-template-columns: repeat(2, 1fr); }
    .latest_series_container .img_card {
      width: 100%; } }

@media only screen and (max-width: 1055px) {
  .latest_series_container {
    grid-template-columns: repeat(1, 1fr); }
    .latest_series_container .movie_card {
      justify-content: center;
      display: flex;
      text-align: center; }
    .latest_series_container .img_card {
      width: 50%; } }

.latest_cartoons_main_section {
  background-color: #181616; }
  .latest_cartoons_main_section .main_container_cartoons {
    padding: 40px 40px 40px 40px; }
  .latest_cartoons_main_section .latest_cartoons_container {
    height: 447px; }
    .latest_cartoons_main_section .latest_cartoons_container .movie_card {
      position: relative;
      overflow: hidden; }
      .latest_cartoons_main_section .latest_cartoons_container .movie_card img {
        width: 100%; }
      .latest_cartoons_main_section .latest_cartoons_container .movie_card .info_movie {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.8); }
        .latest_cartoons_main_section .latest_cartoons_container .movie_card .info_movie i {
          margin-right: 3px;
          color: red; }
        .latest_cartoons_main_section .latest_cartoons_container .movie_card .info_movie h2 {
          padding-bottom: 20px; }
        .latest_cartoons_main_section .latest_cartoons_container .movie_card .info_movie span {
          align-items: center;
          font-size: 0.8rem;
          font-weight: 600;
          margin: 0 8px; }
    .latest_cartoons_main_section .latest_cartoons_container img:hover {
      transform: scale(1.2); }
  .latest_cartoons_main_section h1 {
    padding: 20px 20px 20px 20px;
    margin-left: 40px;
    border-left: 4px solid #c0392b;
    font-size: 1.5rem;
    font-weight: 700; }

.latest_cartoons_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
  padding: 40px 40px 40px 40px; }

@media only screen and (max-width: 1400px) {
  .latest_cartoons_container {
    grid-template-columns: repeat(2, 1fr); }
    .latest_cartoons_container .img_card {
      width: 100%; } }

@media only screen and (max-width: 1055px) {
  .latest_cartoons_container {
    grid-template-columns: repeat(1, 1fr); }
    .latest_cartoons_container .movie_card {
      justify-content: center;
      display: flex;
      text-align: center; }
    .latest_cartoons_container .img_card {
      width: 50%; } }

.main_section_poster {
  background-image: url(../assets/img/transformer-banner.jpg);
  width: 100%;
  height: 600px;
  display: inline-block;
  background-size: cover;
  align-items: center;
  justify-content: center;
  filter: brightness(0.5); }
  .main_section_poster .contsiner_div {
    transition: 0.5s ease-in-out;
    color: #ffffff;
    width: 40%;
    padding: 60px 40px 0px 40px; }
    .main_section_poster .contsiner_div h1 {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 900; }
    .main_section_poster .contsiner_div .movie-descriptions {
      font-size: 0.8rem;
      align-items: center;
      padding-top: 30px; }
      .main_section_poster .contsiner_div .movie-descriptions i {
        margin-right: 3px;
        color: red; }
      .main_section_poster .contsiner_div .movie-descriptions span {
        margin-right: 8px; }
    .main_section_poster .contsiner_div p {
      padding: 30px 60px 30px 0px;
      font-size: 1.15rem;
      line-height: 1.5rem; }
    .main_section_poster .contsiner_div .btn {
      margin-top: 40px;
      display: inline-flex;
      position: relative;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      border: none;
      background-color: #221f1f; }
      .main_section_poster .contsiner_div .btn span {
        z-index: 1; }
      .main_section_poster .contsiner_div .btn::before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #c0392b;
        transition: width 0.3s ease 0s; }
      .main_section_poster .contsiner_div .btn:hover::before {
        width: 100%; }

@media (max-width: 1100px) {
  .main_section_poster {
    height: auto; }
    .main_section_poster .contsiner_div {
      width: 60%; }
      .main_section_poster .contsiner_div h1 {
        font-size: 3rem;
        line-height: 5rem;
        font-weight: 900; }
      .main_section_poster .contsiner_div p {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5rem; } }

.pricing_section {
  background-color: #181616; }
  .pricing_section .pricing-element.premium {
    border-top: 4px solid #c0392b; }
  .pricing_section .flix_container {
    padding-top: 60px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700; }
    .pricing_section .flix_container a {
      text-decoration: none; }
    .pricing_section .flix_container span {
      color: #c0392b; }
  .pricing_section .pricing-element {
    padding: 50px;
    background-color: #221f1f;
    text-align: center; }
    .pricing_section .pricing-element .title_container {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.5rem; }
    .pricing_section .pricing-element .pricing_context {
      text-align: center;
      margin-top: 60px;
      font-size: 1.25rem; }
      .pricing_section .pricing-element .pricing_context p {
        padding-bottom: 20px; }
    .pricing_section .pricing-element .btn {
      margin-top: 40px;
      display: inline-flex;
      position: relative;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      border: none;
      background-color: #221f1f; }
      .pricing_section .pricing-element .btn span {
        z-index: 1; }
      .pricing_section .pricing-element .btn::before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #c0392b;
        transition: width 0.3s ease 0s; }
      .pricing_section .pricing-element .btn:hover::before {
        width: 100%; }
  .pricing_section .pricing-element:hover {
    transform: translateY(-20px); }

.pricing-elements {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px 40px 40px 40px; }

@media (max-width: 1100px) {
  .pricing-elements {
    grid-template-columns: 1fr; }
    .pricing-elements .pricing-element {
      margin-top: 30px; } }

.pagination_container {
  background-color: #181616; }
  .pagination_container #paging_container {
    display: flex;
    justify-content: center;
    padding: 20px; }
    .pagination_container #paging_container span {
      padding: 5px 10px;
      cursor: pointer;
      border: 1px solid #ddd; }

.footer {
  background-color: #181616; }
  .footer .first {
    width: 400px; }
    .footer .first p {
      font-size: 16px;
      line-height: 1.7rem; }
    .footer .first .flix_container {
      font-size: 2rem;
      font-weight: 700; }
      .footer .first .flix_container a {
        text-decoration: none; }
      .footer .first .flix_container span {
        color: #c0392b; }
  .footer .footer_nav p {
    padding-top: 10px;
    cursor: pointer; }
  .footer .footer_nav p:hover {
    transform: translateX(20px);
    color: #c0392b; }
  .footer .download_container h3 {
    padding-bottom: 15px; }
  .footer .download_container img:hover {
    transform: translateX(20px); }

.footer-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 40px 40px 40px 40px; }

@media (max-width: 1100px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; }
    .footer-container div {
      text-align: center; }
    .footer-container img {
      padding-left: 30px; } }

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    justify-content: center; }
    .footer-container div {
      text-align: center;
      padding-top: 30px; }
    .footer-container .first {
      width: 100%; }
    .footer-container img {
      padding-left: 30px; } }

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  color: #ffffff; }

html {
  font-size: 16px; }
