.main_header {
    background-color: $body-background-color;
    width: 100%;
    padding: 10px 0;
    .header_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }
    .logo_container {
        a {
            color: $font_color;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 900;
        }
        span {
            color: $icon-color;
        }
    }
    .navbar {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            color: $font_color;
            text-transform: uppercase;
            font-weight: 700;
        }
        div {
            padding-right: 20px;
        }
        form {
            input {
                padding: 5px;
                border-radius: 20px;
                outline: none;
                border: 1px solid $icon-color;
                color: $icon-color;
            }
        }
    }
}

@media (max-width: 990px) {
    .navbar {
        a {
            display: none;
        }
    }
}
