.movies_main_section {
    background-color: $body-background-color;
    .movies_container {
        .movie_card {
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
            }
            .info_movie {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                color: $font_color;
                background-color: rgba(0, 0, 0, 0.8) !important;
                i {
                    margin-right: 3px;
                    color: red;
                }
                h2 {
                    padding-bottom: 20px;
                }
                span {
                    align-items: center;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }
        }
        img:hover {
            transform: scale(1.2);
        }
    }
}
.movies_container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0 40px 0;
}
@media only screen and (max-width: 1400px) {
    .movies_container {
        grid-template-columns: repeat(2, 1fr);
        .img_card {
            width: 100%;
        }
    }
}
@media only screen and (max-width: 1055px) {
    .movies_container {
        grid-template-columns: repeat(1, 1fr);
      .movie_card{
        justify-content: center;
        display: flex;
        text-align: center;
      }
        .img_card {
            width: 50%;
        }
    }
}
