.pricing_section {
    background-color: $body-background-color;
    .pricing-element.premium{
        border-top: 4px solid $icon-color;
    }
    .a{
        padding-top: 60px;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        a{
            text-decoration: none;
        }
    
        span{
            color:$icon-color ;
        }
    }
    .pricing-element{
        padding: 50px;
        background-color: $pricing;
        text-align: center;
        .title_container {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .pricing_context {
            text-align: center;
            margin-top: 60px;
            font-size: 1.25rem;
            p {
                padding-bottom: 20px;
            }
        }
        .btn {
            margin-top: 40px;
            display: inline-flex;
            position: relative;
            padding: 5px 20px;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            border: none;
            background-color: $pricing;
            span {
                z-index: 1;
            }
            &::before {
                content: "";
                width: 50%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $icon-color;
                transition: width 0.3s ease 0s;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    .pricing-element:hover {
        transform: translateY(-20px);
    }
}
.pricing-elements {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px 40px 40px 40px;
}

@media (max-width: 1100px) {
    .pricing-elements {
        grid-template-columns: 1fr;
        .pricing-element {
            margin-top: 30px;
        }
    }
}
