@import "variables";
@import "header";
@import "background";
@import "movies";
@import "latest-movies";
@import "lastest-series";
@import "lastest-cartoons";
@import "poster";
@import "pricing";
*{
    padding: 0;
    margin: 0;
    font-family: "Cairo", sans-serif;
    color: $font_color;
}
html{
    font-size: 16px;
}